.vscode/
bin/
build-win32/
imgui/
res/
sdl2/
SDL2-2.30.3/
sdl2-win32/
sdl2-win64/
system573/
test/
bios/
roms/
snap/
*.BIN
*.bin
*.dll
*.exe
*.out
*.toml
*.zip
*.cue
*.iso
*.mcd
*.rom
